/* src/app/globals.css */

/* ¡¡¡ESTAS TRES LÍNEAS SON FUNDAMENTALES PARA QUE TAILWIND FUNCIONE!!! */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus variables CSS personalizadas, si quieres usarlas junto con Tailwind */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tus estilos CSS personalizados, si quieres que se apliquen globalmente */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}